<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PERFIL DE USUARIO</title>

    <!-- Enlace a hoja de estilo main.css-->
    <link rel = 'stylesheet' href="{{url_for('static', filename='main.css') }}">
    <!-- Enlace bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Enlace a hoja de estilo de bootstrap cdn-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">

</head>

<body>
<h1 class="text-center text-warning">
    PERFIL DE USUARIO</h1>


<main class="container p-3">

        <div class="row">

            <div class="col-md-9 offset-md-2 my-auto"> <!--Este div ocupará 4 columnas del espacio (centrado)-->
                <br>
            <a href="/index"><span class="glyphicon glyphicon-shopping-cart"></span> HOME</a>
                <br>
                <div class="card  text-warning border-warning mb-3" style="max-width: 40rem;">

                        <div class="card-header text-center">
                            <fieldset>
                                <legend>DATOS</legend>
                            </fieldset>
                        </div>
                        <div class="card-body">

                                <div class="form-group">
                                    <div class="form-group row">
                                        <label  class="col-sm-0 col-form-label ">IDENTIDAD DE USUARIO: &nbsp &nbsp
                                        <label class="col-sm-0 col-form-label text-success">{{perfil.id}}</label>
                                        <br>
                                        <label  class="col-sm-0 col-form-label ">NOMBRE DE USUARIO: &nbsp &nbsp
                                        <label class="col-sm-0 col-form-label text-success">{{perfil.usuario}}</label>
                                        <br>
                                        <label  class="col-sm-0 col-form-label ">CONTRASEÑA DE USUARIO: &nbsp &nbsp
                                        <label class="col-sm-0 col-form-label text-success">{{perfil.password}}</label>
                                        <br>
                                        <label  class="col-sm-0 col-form-label ">EMAIL DE USUARIO: &nbsp &nbsp
                                        <label class="col-sm-0 col-form-label text-success">{{perfil.email}}</label>
                                        <br>
                                        <label  class="col-sm-0 col-form-label ">PAIS: &nbsp &nbsp
                                        <label class="col-sm-0 col-form-label text-success">{{perfil.pais}}</label>
                                        <br>
                                        <label  class="col-sm-0 col-form-label ">PROVINCIA: &nbsp &nbsp
                                        <label class="col-sm-0 col-form-label text-success">{{perfil.provincia}}</label>
                                        <br>
                                        </div>
                                        <fieldset>
                                            <legend>PUNTUACIONES</legend>
                                        </fieldset>
                                        <a class="text-info"> --SPACE--</a>
                                            <br>
                                            Número de veces jugado: <a class="text-success"> {{veces_spa}}</a>
                                            <br>
                                            Puntos Space:
                                        <ul>

                                            {% for val in lista_spa %}
                                                    <label class="col-sm-0 col-form-label text-success">{{val.puntos}}</label>
                                                    &nbsp &nbsp
                                            {% endfor %}
                                        </ul>
                                            <a class="text-info"> --NAVES--</a>
                                            <br>
                                            Número de veces jugado: <a class="text-success"> {{veces_nav}}</a>
                                            <br>
                                            Puntos Naves:
                                        <ul>

                                            {% for val in lista_nav %}
                                                    <label class="col-sm-0 col-form-label text-success">{{val.puntos}}</label>
                                                    &nbsp &nbsp
                                            {% endfor %}
                                        </ul>
                                            <a class="text-info"> --ARKANOID--</a>
                                            <br>
                                            Número de veces jugado: <a class="text-success"> {{veces_ark}}</a>
                                            <br>
                                            Puntos Arkanoid:
                                        <ul>

                                            {% for val in lista_ark %}
                                                    <label class="col-sm-0 col-form-label text-success">{{val.puntos}}</label>
                                                    &nbsp &nbsp
                                            {% endfor %}
                                        </ul>
    <form>
</body>
</html>